* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.btn {
    background-color: #469165;
    padding: 10px 12px;
    border: 2px solid #469165;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.btn:hover {
    background-color: transparent;
    color: #469165;
    transition: 0.3s;
}

/* Header Section Started */
/* Navbar Section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.nav-links ul {
    display: flex;
    gap: 30px;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
}
.nav-links ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #001931;
    font-weight: 500;
}
.nav-links ul li a:hover {
    color: #469165;
    transition: 0.3s;
}
/* Header Section Ended */

/* Banner Section */
.banner-section {
    min-height: 100vh;
    background: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 20px;
}
.default-pgraph {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 6px 14px;
    border-radius: 30px;
    background: #ffffff;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}
.banner-content h1 {
    font-size: 70px;
    color: #ffffff;
    margin-bottom: 20px;
}
.default-heading {
    color: #30B868 ;
}
.default-pgraph2 {
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    line-height: 26px;
    padding: 0 30px;
    margin-bottom: 30px;
}
.banner-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.default-btn:hover {
    color: #ffffff;
}
.btn-2 {
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    padding: 11px 12px;
}
.btn-2:hover {
    background-color: #469165;
    border:2px solid #469165;
    transition: 0.3s;
}

/* Note Section */
.note-section {
    margin-top: 80px;
    background-color: #fbfbfb;
}
.note-container {
    padding: 80px 0 ;
}
.note-heading {
    text-align: center;
    margin-bottom: 40px;
}
.note-heading h2 {
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}
.note-heading p {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
}
.note-info{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.note-card{
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);;
    padding: 40px 20px;
    border-radius: 8px;
}
.note-card img {
    background-color: #F95555;
    padding: 8px;
    border-radius: 100%;
    margin-bottom: 10px;
}
.note-card h3 {
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.note-card p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

/* Second Brain Section */
.second-brain-section {
    margin-top: 100px;
}
.second-brain-container {
    display: flex;
    align-items:center ;
    gap: 50px;
}
.second-brain-img img {
    width: 600px;
}
.brain-pgrapgh {
    color: #30B868;
    font-size: 16px;
    margin-bottom: 15px;
}
.second-brain-content h2 {
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}
.brain-pgrapgh2 {
    color: #627382;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}
.icon-text {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 15px;
}
.icon-text p {
    color: #001931;
    font-size: 16px;
    font-weight: 500;
}